{% extends 'main.html' %}

<!DOCTYPE html>
<html lang="en">
  
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <title>{% block 'head' %}Dashboard{% endblock %} </title>

</head>
<body>
      
      
  {% block 'card1' %}
            <div class="card" style="width: 14rem; margin-top: 20px; background-color: aquamarine;">
                <div class="card-body">
                  <h5 class="card-title">Total Customers</h5>
                  <h6 class="card-subtitle mb-2 text-body-secondary">{{customers}}</h6>
                </div>
              </div>
        
      {% endblock %}

      {% block 'reports' %}
      
          
      {% endblock %}
     {% block 'card2' %}
     <div class="card" style="width: 14rem; margin-top: 20px; background-color: aquamarine;">
      <div class="card-body">
        <h5 class="card-title">Total Suppliers</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">{{suppliers}}</h6>
      </div>
    </div>

     {% endblock %}
     {% block 'card3' %}
     
     <div class="card " style="width: 14rem; margin-top: 20px; background-color: aquamarine;">
         <div class="card-body">
           <h5 class="card-title">Total Products</h5>
           <h6 class="card-subtitle mb-2 text-body-secondary">{{products}}</h6>
         </div>
       </div>
 
{% endblock %}
{% block 'card4' %}
     
<div class="card " style="width: 14rem; margin-top: 20px; background-color: aquamarine;">
    <div class="card-body">
      <h5 class="card-title">Total Sales</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">{{customers}}</h6>
    </div>
  </div>

{% endblock %}
    

    <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://kit.fontawesome.com/1f54627332.js"
    crossorigin="anonymous"
  ></script>
</body>
</html>