{% extends 'main.html' %}
<!DOCTYPE html>
<html lang="en">
  
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
  <title>{% block 'head' %}Products{% endblock %}</title>
</head>

<body>
  {% block 'card1' %}
  <div class="container mt-3 p-3 border rounded " style="margin-left: 100px;">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success text-center">
      {{message}}
    </div>

    {% endfor %}
    {% endif %}
    <div class="d-flex justify-content-between align-items-center">
      <a href="" class="btn btn-primary px-5 btn-sm" data-bs-toggle="modal"
        data-bs-target="#addProductModal">Add Product</a>
      <div class="">
        <form action="" method="post" class="d-flex">
          {% csrf_token %}
          <input type="search" name="search" value="{{query}}" placeholder="search..." class="form-control" />
          <button type="submit" name="search" class="btn btn-success mx-3">Search</button>
        </form>
      </div>
    </div>
    <table class="table mt-3 table-bordered">
      <thead>
        <tr>
          <th scope="col">Product id</th>
          <th scope="col">Product name</th>
          <th scope="col">Product size</th>
          <th scope="col">Zinc </th>
          <th scope="col">Product price</th>
          <th scope="col">Product selling price </th>
          <th scope="col">Actions </th>
        </tr>
      </thead>
      <tbody>
        {% for product in products %}
        <tr>
          <th>{{product.pid}}</th>
          <td>{{product.pname}}</td>
          <td>{{product.psize_id}}</td>
          <td>{{product.pzinc}}</td>
          <td>{{product.pprice}}</td>
          <td>{{product.psellingprice}}</td>
          <td>
            <a href="" data-bs-toggle="modal" data-bs-target="#updateCustomerModal_{{customer.cid}}"
              class="btn btn-success px-4 mx-3 btn-sm "><i class="fa-solid fa-pen-to-square"></i></a><br>
            <a href="" data-bs-toggle="modal" data-bs-target="#deleteCustomerModal_{{customer.cid}}"
              class="btn btn-danger px-4 mx-3 btn-sm"><i class="fa-solid fa-trash"></i></a>
          </td>
        </tr>
        <!--update student modal-->
        <div class="modal fade" id="updateProductModal_{{product.pid}}" tabindex="-1"
          aria-labelledby="updateProductModalLabel_{{product.pid}}" aria-hidden="true">
          <div class="modal-dialog">
            <form action="" method="post">
              {% csrf_token %}
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="updateProductModalLabel_{{product.pid}}">
                    Update Product
                  </h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <input type="hidden" name="pid" value="{{product.pid}}">
                  <div class="">
                    <label for="name">Product name</label>
                    <input type="text" name="name" value="{{product.pname}}" class="form-control" required />
                  </div>
                  <br />
                  <div class="">
                    <label for="number">Customer Phone Number</label>
                    <input type="number" name="number" value="{{customer.cphone}}" class="form-control" required />
                  </div>
                  <br />
                  <div class="">
                    <label for="mail">Customer Mail Id</label>
                    <input type="email" name="email" value="{{customer.cmail}}" class="form-control" required />
                  </div>
                  <br />
                  <div class="">
                    <label for="address">Customer Address</label>
                    <input type="text" name="address" value="{{customer.caddress}}" class="form-control" required />
                  </div>
                  <br />
                  <div class="">
                    <label for="balance">Customer Current Balance</label>
                    <input type="number" name="balance" value="{{customer.cbalance}}" class="form-control" required />
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Close
                  </button>
                  <button type="submit" name="update" class="btn btn-primary">
                    Update Customer
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!--delete student modal-->
        <div class="modal fade" id="deleteCustomerModal_{{customer.cid}}" tabindex="-1"
          aria-labelledby="deleteCustomerModalLabel_{{customer.cid}}" aria-hidden="true">
          <div class="modal-dialog">
            <form action="" method="post">
              {% csrf_token %}
              <input type="hidden" name="id" value="{{customer.cid}}">
              <div class="modal-content">
                <div class="modal-body">
                  <p>Are you sure ? Do you want to delete ?</p>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                      Close
                    </button>
                    <button type="submit" name="delete" class="btn btn-danger">
                      Delete Customer
                    </button>
                  </div>
                </div>
            </form>
          </div>
        </div>
        {% endfor %}
      </tbody>
    </table>


    <!-- Modal -->
    <div class="modal fade" id="addProductModal" tabindex="-1" aria-labelledby="addCustomerModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <form action="" method="post">
          {% csrf_token %}
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="addProductModalLabel">
                Add New Product
              </h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="">
                <label for="name">Product Name</label>
                <input type="text" name="pname" class="form-control" required />
              </div>
              <br />
              <div class="">
                <label for="number">Product size</label>
                <select name="psize" id="" class="form-control">
                  {% for size in sizes %}
                  <option value="{{size.sid}}" name="">{{size.size}}</option>
                  {% endfor %}
                </select>
              </div>
              <br />
              <div class="">
                <label for="mail">Product zinc</label>
                <select name="pzinc" id="" class="form-control">
                  {% for zinc in zincs %}
                  <option value="{{zinc.0}}" name="productzinc">{{zinc.1}}</option>
                  {% endfor %}
                </select>
              </div>
              <br />
              <div class="">
                <label for="address">Product price</label>
                <input type="text" name="pprice" class="form-control" required />
              </div>
              <br />
              <div class="">
                <label for="balance">Product selling price</label>
                <input type="number" name="psprice" class="form-control" required />
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                Close
              </button>
              <button type="submit" name="addProduct" class="btn btn-primary">
                Add Product
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  

  {% endblock %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/1f54627332.js" crossorigin="anonymous"></script>
  

</body>

</html>